body{
    color: rgb(155, 23, 23);
    background-color: #9b00ce;
    font-size: xx-large;
}
.second{
    color: rgb(178, 29, 29);
}
h2{
    text-align: center;
}
p{
    text-align: center;
}